{% extends "base.html" %}

{% block content %}
<div class="edit-container ">
    <div class="edit-form">
        <h1>Edit Profile</h1>
        <form action="" method="post", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.about_me.label(class="form-control-label") }}
                {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.about_me(class="form-control no-resize-textarea", cols=50, rows=4) }}
            </div>
            <div class="form-group">
                {{ form.gender.label(class="form-control-label") }}
                {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.gender(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.image.label(class="form-control-label") }}
                {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.image(class="form-control-file") }}
            </div>
            {% if image_file %}
            <div>
                <h4>Current Profile Image</h4>
                <img src="{{ image_file }}" alt="Profile Image" class="img-thumbnail" width="100">
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.submit(class="submit") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}