{% extends "base.html" %}

{% block content %}
<h3 class="greet-user">Hi, <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}!</a></h3>
{% if form %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="img-say-something">
        <!-- <img class="img-home" src="{{ user.avatar(60) }}" alt="{{ current_user.username }}">  -->
        <img class="circular-portrait" src="{{ url_for('static', filename='profile_pics/' + user.image) if user.image else url_for('static', filename='profile_pics/default.png') }}" alt="Profile Image" class="img-thumbnail" width="60">
        <p class="say-something">
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.post(class="form-control no-resize-textarea-both", placeholder="Say Something!") }}
        </p>
    </div>
    <div>
        {{ form.submit(class="submit-post") }}
    </div>
</form>
{% endif %}
<div class="follower-post">
    <!-- <!-- <p>Number of posts on this page: {{ posts.items|length }}</p> -->
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
</div>
<br>
<div class="pagination">
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
</div>
{% endblock %}